body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(250, 181, 53);
}

div {
    width: 240px;
    border: 8px double black;
    text-align: center;
    border-radius: 5%;
}

.img {
    max-width: 100%;
    border: 1px solid rgb(250, 181, 53);
    margin-top: 5px;
}

.monitor {
    font-weight: bold;
    text-decoration: underline;
    font-size: 24px;
}

.prop {
    font-weight: bold;
}

.but1 {
    margin: 10px;
    border: 4px solid black;
    border-radius: 20%;
    background-color: rgb(250, 181, 53);
    color: black;
    font-weight: bold;
    padding: 20px;
}

.but2 {
    margin: 10px;
    border: 4px solid black;
    border-radius: 20%;
    background-color: rgb(255, 54, 4);
    color: black;
    font-weight: bold;
    padding: 20px;
}

.but1:hover,
.but2:hover {
    border: none;
    color: white;
}